body {
    font-family: Arial, sans-serif;
}

#portfolio {
    margin-bottom: 20px;
}

.portfolio-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addCryptoForm {
    margin-top: 20px;
}

#cryptoId {
    margin-bottom: 5px;
    padding: 5px;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: relative;
    z-index: 100;
    background-color: white;
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#autofill-suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}

.autofill-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.autofill-item:hover {
    background-color: #f0f0f0;
}