.rainbow-preloader .rainbow-stripe:nth-child(1) {
  border-color: rgba(241, 90, 90, 1);
  clip: rect(0, 84px, 42px, 0);
  width: 60px;
  height: 60px;
  left: 48px;
  top: 48px;
  transform: rotate(180deg);
  z-index: 5;
  animation: rainbow-in-out 5s 0.1s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(1):before {
  border: 3px solid rgba(237, 43, 43, 1);
  content: "";
  display: block;
  height: 48px;
  width: 54px;
}
.rainbow-preloader .rainbow-stripe:nth-child(2) {
  border-color: rgba(240, 196, 25, 1);
  clip: rect(0, 108px, 54px, 0);
  height: 84px;
  left: 36px;
  transform: rotate(180deg);
  top: 36px;
  width: 84px;
  z-index: 4;
  animation: rainbow-in-out 5s 0.2s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(2):before {
  border: 3px solid rgba(201, 162, 13, 1);
  content: "";
  display: block;
  height: 72px;
  width: 78px;
}
.rainbow-preloader .rainbow-stripe:nth-child(3) {
  border-color: rgba(78, 186, 111, 1);
  clip: rect(0, 132px, 66px, 0);
  height: 108px;
  left: 24px;
  transform: rotate(180deg);
  top: 24px;
  width: 108px;
  z-index: 3;
  animation: rainbow-in-out 5s 0.3s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(3):before {
  border: 3px solid rgba(60, 153, 88, 1);
  content: "";
  display: block;
  height: 96px;
  width: 102px;
}
.rainbow-preloader .rainbow-stripe:nth-child(4) {
  border-color: rgba(45, 149, 191, 1);
  clip: rect(0, 156px, 78px, 0);
  height: 132px;
  left: 12px;
  transform: rotate(180deg);
  top: 0px;
  width: 132px;
  z-index: 2;
  animation: rainbow-in-out 5s 0.4s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(4):before {
  border: 3px solid rgba(35, 117, 150, 1);
  content: "";
  display: block;
  height: 120px;
  width: 126px;
}
.rainbow-preloader .rainbow-stripe:nth-child(5) {
  border-color: rgba(149, 91, 165, 1);
  clip: rect(0, 180px, 90px, 0);
  height: 164px;
  left: 0px;
  top: 0px;
  width: 164px;
  z-index: 1;
  transform: rotate(180deg);
  animation: rainbow-in-out 5s 0.5s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(5):before {
  border: 3px solid rgba(119, 73, 132, 1);
  content: "";
  display: block;
  height: 144px;
  width: 150px;
}
.rainbow-preloader {
  height: 90px;
  left: 50%;
  margin-left: -90px;
  margin-top: -90px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 180px;
}
.rainbow-preloader:before,
.rainbow-preloader:after {
  background: linear-gradient(
      45deg,
      transparent 33.333%,
      #6b9903 33.333%,
      #6b9903 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      transparent 33.333%,
      #6b9903 33.333%,
      #6b9903 66.667%,
      transparent 66.667%
    );
  background-size: 6px 34px;
  bottom: 0;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  width: 66px;
  z-index: 10;
}
.rainbow-preloader:after {
  left: auto;
  right: 0;
}
.rainbow-preloader .rainbow-stripe {
  border-width: 12px;
  border-style: solid;
  border-radius: 100%;
  position: absolute;
}
.rainbow-preloader .rainbow-stripe:before {
  border-radius: 100%;
}
.rainbow-preloader .shadow {
  background: rgba(0, 0, 0, 0.2);
  bottom: -1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  width: 0;
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  animation: shadow-in-out 5s infinite;
}
.rainbow-preloader .shadow + .shadow {
  left: 118px;
  animation-delay: 0.5s;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.sky {
  background: linear-gradient(#85a5cc 0, #d0e4f2 100%);
  box-shadow: 0 0 20px #d0e4f2;
  height: 44vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sky .cloud {
  background: #ebf5fc;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 39px;
  margin-right: -102px;
  position: absolute;
  right: 0%;
  width: 102px;
}
.sky .cloud.variant-1 {
  top: 52%;
  transform: scale(0.2);
  animation: clouds-in-out 16s 0s infinite linear;
}
.sky .cloud.variant-2 {
  top: 16%;
  transform: scale(0.4);
  animation: clouds-in-out 17s 2s infinite linear;
}
.sky .cloud.variant-3 {
  top: 44%;
  transform: scale(0.6);
  animation: clouds-in-out 18s 4s infinite linear;
}
.sky .cloud.variant-4 {
  top: 11%;
  transform: scale(0.8);
  animation: clouds-in-out 19s 6s infinite linear;
}
.sky .cloud.variant-5 {
  top: 42%;
  transform: scale(1);
  animation: clouds-in-out 20s 8s infinite linear;
}
.sky .cloud:before,
.sky .cloud:after {
  background: #ebf5fc;
  border-radius: 100px;
  content: "";
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;
  transform: rotate(30deg);
}
.sky .cloud:after {
  height: 60px;
  left: auto;
  right: 12px;
  top: -24px;
  width: 60px;
}
.ground {
  background: linear-gradient(#6e9e03 0, #4f7302 100%);
  height: 57vh;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
@keyframes rainbow-in-out {
  0% {
    transform: rotate(180deg);
  }
  33% {
    transform: rotate(360deg);
  }
  66% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
  }
  33% {
    opacity: 1;
    width: 60px;
  }
  66% {
    opacity: 1;
    width: 60px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes clouds-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 105%;
  }
}
