.carousel-container {
    position: relative;
    width: 80%;
    margin: 40px auto;
	background-color: #787878;
}

.controls-pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prev-button, .next-button {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.pagination-container {
    flex-grow: 1;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-bar {
    width: 15px;
    height: 5px;
    background-color: #aaa;
    margin: 30px 5px 0px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-bar.active {
    width: 17px;
    height: 7px;
	background-color: #fff;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
	border: solid black 0.1rem;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.carousel-image.fade-out {
    opacity: 0;
}

.carousel-image.fade-in {
    opacity: 1;
}

.carousel-image.slide-out-left {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.carousel-image.slide-in-left {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.carousel-image.slide-out-right {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.carousel-image.slide-in-right {
    transform: translateX(0);
    transition: transform 0.5s ease;
}