.question-container {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.question-text {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
  margin: 20px 0;
}