#chart {
  width: 800px;
  height: 400px;
  position: relative; /* Make chart container relative to position candles absolutely */
}

.candle {
  width: 10px;
  position: absolute; /* Position candles absolutely to place them horizontally */
}

.candle.green {
  background-color: green;
}

.candle.red {
  background-color: red;
}
